<!-- 양방 협력 병원 연계 협진 (진료과목 페이지 공통 블록) -->
<div class="collab">
  <div class="two-col">
    <img src="/assets/img/sub/face01_con6_1.jpg" alt="양방 협력 병원 연계 및 협진 진료 통합치료">
    <div>
      <h3>양방 협력 병원 연계 · 협진 진료를 통한 통합치료</h3>
      <p>수원 바를정한의원은 신경외과, 영상의학과(MRI · X-ray 등)와 긴밀히 협진하며, 정밀 검사를 통한 정확한 진단과 치료 계획을 제공합니다.</p>
    </div>
  </div>
  <div class="collab-grid">
    <div class="collab-col">
      <h4>한방치료</h4>
      <ul class="icon-grid">
        <li><img src="/assets/img/sub/face01_con6_icon_2.png" alt=""><span>한약</span></li>
        <li><img src="/assets/img/sub/face01_con6_icon_3.png" alt=""><span>두면부 추나요법</span></li>
        <li><img src="/assets/img/sub/face01_con6_icon_4.png" alt=""><span>침치료</span></li>
        <li><img src="/assets/img/sub/face01_con6_icon_5.png" alt=""><span>약침치료</span></li>
        <li><img src="/assets/img/sub/face01_con6_icon_6.png" alt=""><span>고주파</span></li>
      </ul>
    </div>
    <div class="collab-col">
      <h4>양방치료 (협력병원)</h4>
      <ul class="icon-grid">
        <li><img src="/assets/img/sub/face01_con6_icon_8.png" alt=""><span>CT · MRI 검사</span></li>
        <li><img src="/assets/img/sub/face01_con6_icon_9.png" alt=""><span>근전도 검사</span></li>
        <li><img src="/assets/img/sub/face01_con6_icon_10.png" alt=""><span>급성기 스테로이드요법</span></li>
        <li><img src="/assets/img/sub/face01_con6_icon_11.png" alt=""><span>항바이러스제</span></li>
        <li><img src="/assets/img/sub/face01_con6_icon_12.png" alt=""><span>안면도수치료</span></li>
        <li><img src="/assets/img/sub/face01_con6_icon_13.png" alt=""><span>안면물리치료</span></li>
      </ul>
    </div>
  </div>
</div>
