<!-- 프리미엄 입원실 안내 (진료과목 페이지 공통 블록) -->
<div class="inpatient">
  <div class="inpatient-head">
    <span class="section-eyebrow">PREMIUM WARD</span>
    <h3>치료와 치유에 온전히 집중할 수 있도록,<br>프리미엄 1~2인실 입원 집중 치료</h3>
    <a href="/pages/about/facility" class="btn btn-outline-dark btn-sm">원내 시설 보기 →</a>
  </div>
  <div class="img-row">
    <figure><img src="/assets/img/sub/face01_con5_1.jpg" alt="수원 바를정한의원 프리미엄 입원실 전경"></figure>
    <figure><img src="/assets/img/sub/face01_con5_2.jpg" alt="프리미엄 입원실 내부 시설"></figure>
    <figure><img src="/assets/img/sub/face01_con5_3.jpg" alt="입원실 편의시설"></figure>
  </div>
  <ul class="check-list cols-2">
    <li>상급병실 수준의 한방병원급 프리미엄 시설 완비 1~2인실</li>
    <li>하루 2회 이상 집중 치료 · 지속적인 의료진 모니터링</li>
    <li>심신 안정과 적극적인 치료로 자율신경 안정화</li>
    <li>24시간 간호 · 간병 케어</li>
    <li>자체 조리시설에서 만드는 건강하고 맛있는 식단</li>
    <li>모션베드, 넷플릭스, 개인 냉장고 등 개인 편의시설</li>
    <li>캡슐 커피머신, 건식 무릎 사우나기, 안마의자(바디프렌드 메디컬 팬텀)가 구비된 힐링 공간</li>
    <li>평일 야간 · 주말 · 공휴일에도 당일 입원 가능, 전담 컨시어지 지원</li>
  </ul>
</div>
